---
import BaseLayout from "../layouts/baseLayout.astro";
import "/src/styles/global.css";
---

<BaseLayout>
	<section class="relative w-full h-[80vh] overflow-hidden">
		<img 
			src="/logo/portada.png" 
			class="absolute inset-0 w-full h-full object-cover"
		/>
		<div class="absolute inset-0 bg-black/40"></div>
		<div class="relative z-10 flex flex-col items-center justify-center h-full text-white text-center">
			<h1 class="text-4xl font-semibold mb-10 drop-shadow-lg">
				Bienvenido a Makua
			</h1>
			<a href="/nuevos-disenos">
				<button class="bg-black text-white border px-6 py-2 rounded-sm text-sm hover:bg-rose-300 transition duration-500">
					EXPLORAR
				</button>
			</a>
		</div>
	</section>
	<section class="pb-10">
		<p class="text-2xl font-semibold text-center py-10 border-y">DESTACADOS</p>
		<div class="w-full max-w-6xl mx-auto px-4 py-10">
			<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 place-items-center">
				<img src="/jeans/makua/01.webp" alt="Jean 1" class="rounded-sm w-full h-full object-cover" />
				<img src="/jeans/makua/01.webp" alt="Jean 2" class="rounded-sm w-full h-full object-cover" />
				<img src="/jeans/makua/02.webp" alt="Jean 2" class="rounded-sm w-full h-full object-cover" />
				<img src="/jeans/makua/03.webp" alt="Jean 2" class="rounded-sm w-full h-full object-cover" />
				<img src="/jeans/makua/04.webp" alt="Jean 3" class="rounded-sm w-full h-full object-cover" />
				<img src="/jeans/makua/05.webp" alt="Jean 4" class="rounded-sm w-full h-full object-cover" />
				<img src="/jeans/makua/06.webp" alt="Jean 5" class="rounded-sm w-full h-full object-cover" />
				<img src="/jeans/axy/01.webp" alt="Jean 6" class="rounded-sm w-full h-full object-cover" />
				<img src="/jeans/axy/02.webp" alt="Jean 7" class="rounded-sm w-full h-full object-cover" />
				<img src="/jeans/axy/03.webp" alt="Jean 8" class="rounded-sm w-full h-full object-cover" />
				<img src="/jeans/magna/01.webp" alt="Jean 9" class="rounded-sm w-full h-full object-cover" />
				<img src="/jeans/magna/02.webp" alt="Jean 10" class="rounded-sm w-full h-full object-cover" />
				<img src="/jeans/magna/03.webp" alt="Jean 11" class="rounded-sm w-full h-full object-cover" />
				<img src="/jeans/magna/04.webp" alt="Jean 12" class="rounded-sm w-full h-full object-cover" />
				<img src="/jeans/magna/05.webp" alt="Jean 12" class="rounded-sm w-full h-full object-cover" />
				<img src="/jeans/magna/06.webp" alt="Jean 12" class="rounded-sm w-full h-full object-cover" />
			</div>
		</div>
	</section>
</BaseLayout>
