---
import BaseLayout from "../layouts/baseLayout.astro";
import "/src/styles/global.css";
---
<BaseLayout title="Nuevos Diseños">
  <section class="py-11 pb-30 md:text-center">
    <p class="text-2xl font-semibold py-10 border-t border-b">NUEVOS DISEÑOS</p>
    <p class="text-lg mb-10 pt-10">
      Descubre las últimas prendas que hemos desarrollado para ti.
    </p>

    <img src="/logo/MAKUAwhite.webp" class="h-24 w-24 mx-auto" alt="Marca 1">
    
  <div class="w-full max-w-6xl mx-auto px-6 py-3">

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-3 place-items-center">
      <img src="/jeans/makua/07.webp" class="w-full h-auto rounded-sm shadow-md object-cover" />
      <img src="/jeans/makua/08.webp" class="w-full h-auto rounded-sm shadow-md object-cover" />
      <img src="/jeans/makua/09.webp" class="w-full h-auto rounded-sm shadow-md object-cover" />
      <img src="/jeans/makua/10.webp" class="w-full h-auto rounded-sm shadow-md object-cover" />
      <img src="/jeans/makua/11.webp" class="w-full h-auto rounded-sm shadow-md object-cover" />
    </div>

  </div>

    <img src="/logo/AXYwhite.webp" class="h-24 w-24 mx-auto" alt="Marca 1">
    
  <div class="w-full max-w-6xl mx-auto px-6 pb-3">

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-3 place-items-center">
      <img src="/jeans/axy/06.webp" class="w-full h-auto rounded-sm shadow-md object-cover" />
      <img src="/jeans/axy/07.webp" class="w-full h-auto rounded-sm shadow-md object-cover" />
      <img src="/jeans/axy/08.webp" class="w-full h-auto rounded-sm shadow-md object-cover" />
      <img src="/jeans/axy/09.webp" class="w-full h-auto rounded-sm shadow-md object-cover" />
      <img src="/jeans/axy/10.webp" class="w-full h-auto rounded-sm shadow-md object-cover" />
    </div>

  </div>
  
    <img src="/logo/MAGNAwhite.webp" class="h-26 w-26 mx-auto" alt="Marca 1">
    
  <div class="w-full max-w-6xl mx-auto px-6 pb-3            ">

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-3 place-items-center">
      <img src="/jeans/magna/06.webp" class="w-full h-auto rounded-sm shadow-md object-cover" />
      <img src="/jeans/magna/07.webp" class="w-full h-auto rounded-sm shadow-md object-cover" />
      <img src="/jeans/magna/08.webp" class="w-full h-auto rounded-sm shadow-md object-cover" />
      <img src="/jeans/magna/09.webp" class="w-full h-auto rounded-sm shadow-md object-cover" />
      <img src="/jeans/magna/10.webp" class="w-full h-auto rounded-sm shadow-md object-cover" />
    </div>

  </div>

  </section>
</BaseLayout>